<a href="https://colab.research.google.com/github/wardahamalia13/github.io/blob/master/a_wardah_yahoo_com.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [15]:
# Membuat dataframes dari dictionary
import pandas as pd

myDictionary={'Title':['And then There were None','Astrophysics for People in hurry'],'author':['Agatha Christie','Neil de Grasse Tyson']}
myDataFrame=pd.DataFrame(myDictionary)

print(myDataFrame)

                              Title                author
0          And then There were None       Agatha Christie
1  Astrophysics for People in hurry  Neil de Grasse Tyson

In [10]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [16]:
# Membaca data dan memasukannya kedalam suatu variabel

readFile=pd.read_csv('diamonds-1.csv')
readFile

       Unnamed: 0  carat        cut color  ... price     x     y     z
0               1   0.23      Ideal     E  ...   326  3.95  3.98  2.43
1               2   0.21    Premium     E  ...   326  3.89  3.84  2.31
2               3   0.23       Good     E  ...   327  4.05  4.07  2.31
3               4   0.29    Premium     I  ...   334  4.20  4.23  2.63
4               5   0.31       Good     J  ...   335  4.34  4.35  2.75
...           ...    ...        ...   ...  ...   ...   ...   ...   ...
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[53940 rows x 11 columns]

Expected Result :

![image.png](attachment:image.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

<br> Perbedaan Series dengan list: ketika ditampilkan menggunakan fungsi print() Series akan terdiri dari index dan values, sedangkan list akan menampilkan values saja.  Selain itu, index dari Series bisa berupa string, sedangkan list indexnya hanya bisa berupa integer.

<br>Perbedaan Series dan dictionary: pada series bisa dilakukan slicing, sedangkan pada dictionary tidak bisa. Selain itu, key pada series boleh ada yang sama, sedangkan pada dictionary tidak bisa.

<br> Data frame merupakan objek data 2 dimensi, sedangkan series merupakan objek data 1 dimensi.

In [0]:
# code here
#contoh data series
list_A=[3,6,8,9,10]
mySeries=pd.Series(list_A)
print(mySeries)

0     3
1     6
2     8
3     9
4    10
dtype: int64

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [0]:
# code here
#mengetahui beberapa data pertama
readFile.head(10)

   Unnamed: 0  carat        cut color clarity  ...  table  price     x     y     z
0           1   0.23      Ideal     E     SI2  ...   55.0    326  3.95  3.98  2.43
1           2   0.21    Premium     E     SI1  ...   61.0    326  3.89  3.84  2.31
2           3   0.23       Good     E     VS1  ...   65.0    327  4.05  4.07  2.31
3           4   0.29    Premium     I     VS2  ...   58.0    334  4.20  4.23  2.63
4           5   0.31       Good     J     SI2  ...   58.0    335  4.34  4.35  2.75
5           6   0.24  Very Good     J    VVS2  ...   57.0    336  3.94  3.96  2.48
6           7   0.24  Very Good     I    VVS1  ...   57.0    336  3.95  3.98  2.47
7           8   0.26  Very Good     H     SI1  ...   55.0    337  4.07  4.11  2.53
8           9   0.22       Fair     E     VS2  ...   61.0    337  3.87  3.78  2.49
9          10   0.23  Very Good     H     VS1  ...   61.0    338  4.00  4.05  2.39

[10 rows x 11 columns]

In [0]:
#mengatahui beberapa data terakhir
readFile.tail(10)

       Unnamed: 0  carat        cut color  ... price     x     y     z
53930       53931   0.71    Premium     E  ...  2756  5.79  5.74  3.49
53931       53932   0.71    Premium     F  ...  2756  5.74  5.73  3.43
53932       53933   0.70  Very Good     E  ...  2757  5.71  5.76  3.47
53933       53934   0.70  Very Good     E  ...  2757  5.69  5.72  3.49
53934       53935   0.72    Premium     D  ...  2757  5.69  5.73  3.58
53935       53936   0.72      Ideal     D  ...  2757  5.75  5.76  3.50
53936       53937   0.72       Good     D  ...  2757  5.69  5.75  3.61
53937       53938   0.70  Very Good     D  ...  2757  5.66  5.68  3.56
53938       53939   0.86    Premium     H  ...  2757  6.15  6.12  3.74
53939       53940   0.75      Ideal     D  ...  2757  5.83  5.87  3.64

[10 rows x 11 columns]

In [0]:
#akses baris pertama dari kolom price
readFile['price'][readFile.index[0]]

326

In [0]:
#atauuu
readFile['price'][readFile.first_valid_index()]

326

In [0]:
#akses baris terakhir dari kolom color
readFile['color'][readFile.index[-1]]

'D'

In [0]:
#atauuuu
readFile['color'][readFile.last_valid_index()]

'D'

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

Deskriptis statistik adalah kesimpulan deskriptif atau karakteristik dari suatu data.  Karakterisitik yang dideskripsikan antara lain: nilai Mean, Median, Sum, Variance, Standar error, standar error of mean, mode, range atau rentang, minimal, maksimal, skewness dan kurtosis .

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [0]:
# code here
#deskripsi statistik dari data pada 'diamonds.csv'
readFile.describe()

         Unnamed: 0         carat  ...             y             z
count  53940.000000  53940.000000  ...  53940.000000  53940.000000
mean   26970.500000      0.797940  ...      5.734526      3.538734
std    15571.281097      0.474011  ...      1.142135      0.705699
min        1.000000      0.200000  ...      0.000000      0.000000
25%    13485.750000      0.400000  ...      4.720000      2.910000
50%    26970.500000      0.700000  ...      5.710000      3.530000
75%    40455.250000      1.040000  ...      6.540000      4.040000
max    53940.000000      5.010000  ...     58.900000     31.800000

[8 rows x 8 columns]

In [0]:
readFile['price'].mean()

3932.799721913237

In [0]:
readFile['depth'].std()

1.4326213188337733

In [0]:
readFile['carat'].max()

5.01